<div ng-controller="DataPointsController">
    <script type="text/ng-template" id="dataPointsSetting.html">
        <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-gear"></i> &nbsp; Configure Data Points</h3>
        </div>
        
        <!-- data-points setting form -->
        <form class="form" ng-model="query" ng-controller="DataPointsController">
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 form-group">
                            <label>Select Data Points:</label>
                            <select required class="form-control" ng-model="query.dataPoints" id="data-points">
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                        <div class="col-md-10 form-group">
                            <label>Select Format:</label>
                            <select required class="form-control" ng-model="query.dataPointFormat" id="data-point-format">
                                <option value='long-dt'>MM/DD/YYYY hh:mm:ss a</option>
                                <option value='dt'>MM/DD/YYYY</option>
                                <option value='num'>Report #</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" ng-click="updateDataPoints(query);" type="submit">OK</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
            </div>
        </form>
    </script>
</div>

