<div class='ui top fixed menu'>
    <!--
    <a class='item menu-toggle'>
        <i class='grid layout icon'></i>
    </a>
    -->
    <a href='http://extentreports.relevantcodes.com/extentx' class='item logo'>
        extentX
    </a>    
    <!--<a class='brand item'><%= headerTitle %></a>-->
    
   <div class='right menu'>
        <a class='item' href='http://extentreports.relevantcodes.com'>Extent</a>
        <a class='item' href='http://github.com/anshooarora/extentx'>GitHub</a>
        <a class='item' href='#!'>v0.1-alpha</a>
    </div>
</div>           
            
<% include sidenav.ejs %>