<div class='navbar navbar-default'>
    <span id='expand-sidenav' class='item'>
        <i class='fa fa-arrow-circle-o-right'></i>
    </span>
    <!--
    <a class='item' alt='Settings' title='Settings' href='#/settings'>
        <i class='fa fa-gears'></i>
    </a>
    -->
    <a class='item' alt='Search' title='Search' href='#/search'>
        <i class='fa fa-search'></i>
    </a>
    
    <div class='float-right menu'>
        <a class='item' href='http://extentreports.relevantcodes.com'>Extent</a>
        <a class='item' href='http://github.com/anshooarora/extentx'>GitHub</a>
        <a class='item' href='#!'>v0.1-alpha</a>
    </div>
</div>           
            
<% include sidenav.ejs %>