<div class='toc'>
    <ul id='slide-out' class='side-nav fixed'>
        <li class='no padding'>
            <a class='logo' title='ExtentX' href='http://extentreports.relevantcodes.com'><i class='close icon'></i></a>
        </li>
        
        
        <% 
            var url = req.url; 
            var active = '';
        %>
        
        <li class='no-padding <%= (url === "/dashboard" || url === "/") && ("active") %>'>
            <a alt='Dashboard' title='Dashboard' href='/dashboard'><i class='line chart icon'></i></a>
        </li>
        <li class='no-padding  <%= (url === "/lastRunReport") && ("active") %>'>
            <a alt='Last Run Report' title='Last Run Report' href='/lastRunReport'> <i class='history icon'></i></a>
        </li>        
        <li class='no-padding  <%= (url === "/reports") && ("active") %>'>
            <a alt='Reports' title='Reports' href='/reports'> <i class='server icon'></i></a>
        </li>
        <li class='no-padding  <%= (url === "/searchTests") && ("active") %>'>
            <a alt='Search' title='Search' href='/searchTests'> <i class='search icon'></i></a>
        </li>
    </ul>
</div>
