<%
    var headerTitle = 'Report Details';
%>

<% include partials/header.ejs %>

<div class='container main details-view'>
    <div class='ui grid'>
        <% if (!tests || tests.length === 0) { %>
            
        <div class='sixteen wide column'>
            <h1>Tests</h1>
            <p>No tests.</p>
        </div>
        
        <% } else { %>

        <div class='row'>
            <div class='four wide column'>
                <div class='ui segment test-names'>
                    
                    <h1 style='padding:20px 0 20px 5px;'>
                        Tests
                    </h1>
                    
                    <div id='test-collection' class='list divided'>
                        <% for (var ix = 0; ix < tests.length; ix++) { %>
                            
                            <% var test = tests[ix] %>
                            
                            <% include partials/test.ejs %>

                        <% } %>
                    </div>
                    <!-- /test-collection -->
                    
                </div>
            </div>
            
            <div class='six wide column'>
                <div class='ui segment current-details'>
                    <h2 class='test-name'>
                        
                    </h2>
                    
                    <div class='cloned-content'>
                        
                    </div>
                </div>
            </div>
            
            <div class='six wide column'>
                <div class='ui segment historical-details hidden'>
                    <h2 class='test-name'>
                        
                    </h2>
                    
                    <div class='cloned-content'>
                        
                    </div>
                </div>
            </div>
        </div>
            
        <% } %>
    </div>
</div>
