<!DOCTYPE html>
<html>
  <head>
    <title>extentX</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dependencies/bootstrap.progress.css">
    <link rel="stylesheet" href="/styles/dependencies/featherlight.css">
    <link rel="stylesheet" href="/styles/dependencies/semantic-2.1.8.css">
    <link rel="stylesheet" href="/styles/extent.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.2.0.js"></script>
    <script src="/js/dependencies/chartjs-1.0.1.js"></script>
    <script src="/js/dependencies/semantic-2.1.8.js"></script>
    <script src="/js/extent.js"></script>
    <script src="/js/featherlight-1.3.4.js"></script>
    <script src="/js/pages/analysis.dashboard.js"></script>
    <script src="/js/pages/analysis.trends.js"></script>
    <script src="/js/pages/report.details.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
