<div ng-if="!isAdmin" class='container main admin-view'>
    <div class="row">
        <div class='col-md-6'>
            &nbsp;
            <div class="alert alert-warning">
                <h4>
                    Not Authorized!
                    <span class='pull-right'><i class='material-icons'>warning</i></span>
                </h4>

                <p>
                    You are not authorized to view this page.
                </p>
            </div>
        </div>
    </div>
</div>

<div ng-if="isAdmin" class='container main admin-view' ng-controller="AdminController">
    <uib-tabset active="active">
        <uib-tab index="0" heading="Projects & Reports">
            <div class="row">
                <div class='col-md-12'>
                    <div class="panel panel-default padded">
                        <div class='panel-heading'>
                            Report Settings
                        </div>

                        <div class='panel-body'>
                            &nbsp;
                            <form class='form-inline' ng-model="query">
                                <div>
                                    Delete reports older than &nbsp; <input class='form-control' ng-model='query.days' type='number' style='width:200px;'> &nbsp; days
                                    <button class="pull-right btn btn-primary" type="button" ng-click="deleteReportsOlderThanXDays(query.days)" type="submit">Delete</button>
                                </div>
                                <br/>
                                <div ng-controller="ProjectController">
                                    Delete projects with all dependencies &nbsp; 

                                    <select class='form-control' ng-init="loadProjects()" ng-model='query.projectId' style='width:200px;'>
                                        <option value="">Select Project</option>
                                        <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
                                    </select>
                                    <button class="pull-right btn btn-primary" type="button" ng-click="destroyProjectWithDepsByProjectId(query.projectId)" type="submit">Delete</button>
                                    <div class="alert alert-success pull-right" ng-if="projectAndDepsCleared" style="padding:7px 15px;margin-right:5px;">Project and dependencies cleared!</div>
                                </div>
                                <br/>
                                <div ng-controller="AdminController">
                                    Reset database to initial setting

                                    <button class="pull-right btn btn-danger" type="button" ng-click="resetDatabase()" type="submit">Reset</button>
                                    <div class="alert alert-success pull-right" ng-if="resetComplete" style="padding:7px 15px;margin-right:5px;">Reset complete!</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class='col-md-4' ng-if="deletedReports.reportNames.length">
                    <script type="text/ng-template" id="alert.html">
                        <div ng-transclude></div>
                    </script>
                    <div uib-alert class="alert-success" close="">
                        <ol>
                            <li ng-repeat="obj in deletedReports.reportNames track by $index">
                                {{obj}} deleted!
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="1" heading="Users">

        </uib-tab>
    </uib-tabset>
</div>