<div class="container main author-view" ng-controller="AuthorController" ng-init="getAuthorNamesWithTestCountsByProject(true); setViewName('Authors');">    
    <div class="row">

        <!-- author distribution -->
        <div class="col-md-6">
            <div class="panel panel-default author-distribution-chart">
                <div class='panel-heading'>
                    Author vs Test Distibution
                </div>
                <div class='panel-body' id="author-distribution-container">
                    <canvas id='author-distribution' height="270" width="{{chartWidth}}" class='chart chart-bar' chart-data="authorDistributionData" chart-labels="authorDistributionLabels" chart-legend="true" chart-series="series" chart-options="options" chart-colours="colors"></canvas>
                </div>
            </div>
        </div>

        <!-- author vs failed test distribution -->
        <div class="col-md-6">
            <div class="panel panel-default author-failed-test-distribution-container" ng-init="getAuthorNamesWithFailedTestCountsByProject()">
                <div class='panel-heading'>
                    Author vs Failed Test Distibution
                </div>
                <div class='panel-body'>
                    <canvas id='author-failed-test-distribution' height="270" width="{{chartWidth}}" class='chart chart-bar' chart-data="authorFailedTestDistributionData" chart-labels="authorFailedTestDistributionLabels" chart-legend="true" chart-series="series" chart-options="options" chart-colours="colors"></canvas>
                </div>
            </div>
        </div>

    </div> <!-- /row -->
    
</div>