<div class='container main category-view' ng-controller="CategoryViewController">
    <div class='row' category-formats>
        
        <div class='col-md-12' ng-if="tests.length === 0">
            <h1>Category</h1>
            <p>No tests.</p>
        </div>

        <div class='report-list' ng-controller="ReportController">
            
            <h1 style='padding: 5px 0 10px 20px;'>
                Reports
            </h1>
            
            <div id='report-collection'>
                <div ng-repeat='report in res.reports'>
                    <div class='report-name' ng-click='getCategoriesForReport(report.id)'>
                        {{ report.fileName }}
                    </div>
                </div>
            </div>
        </div>

        <div class='category-list'>
            <h1 style='padding: 5px 0 10px 20px;'>
                Categories
            </h1>

            <div id='category-collection'>
                <div ng-repeat='category in categories'>
                    <div class='category-name' ng-click='getTestsForCategory(category.id)'>
                        {{ category.name }}
                    </div>
                </div>
            </div>
        </div>

        <div class='test-list'>
            <h1 style='padding: 5px 0 10px 20px;'>
                Tests
            </h1>

            <div id='test-collection'>
                <div ng-repeat='test in tests'>
                    <ng-include src="'partials/test.html'"></ng-include>                    
                </div>
            </div>
        </div>
    </div>
</div>
