<div class="container main category-view" ng-controller="CategoryController" ng-init="getCategoryNamesWithTestCountsByProject(true); setViewName('Categories');">
    <div class="row">

        <!-- category distribution -->
        <div class="col-md-6">
            <div class="panel panel-default category-distribution-chart">
                <div class='panel-heading'>
                    Category vs Test Distibution
                </div>
                <div class='panel-body' id="category-distribution-container">
                    <canvas id='category-distribution' width="{{chartWidth}}" height="270" class='chart chart-bar' chart-data="categoryDistributionData" chart-labels="categoryDistributionLabels" chart-legend="true" chart-series="series" chart-options="options" chart-colours="colors"></canvas>
                </div>
            </div>
        </div>

        <!-- category vs failed test distribution -->
        <div class="col-md-6">
            <div class="panel panel-default category-failed-test-distribution-container" ng-init="getCategoryNamesWithFailedTestCountsByProject()">
                <div class='panel-heading'>
                    Category vs Failed Test Distibution
                </div>
                <div class='panel-body'>
                    <canvas id='category-failed-test-distribution' width="{{chartWidth}}" height="270" class='chart chart-bar' chart-data="categoryFailedTestDistributionData" chart-labels="categoryFailedTestDistributionLabels" chart-legend="true" chart-series="series" chart-options="options" chart-colours="colors"></canvas>
                </div>
            </div>
        </div>
    </div> <!-- /row -->
</div>