<div class="container main">

    <div class="row" ng-controller="UserController">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <label>User:</label>
                                <input disabled type="text" class="form-control" ng-model="user" id="user" value="{{user}}" placeholder="{{user}}" />
                            </div>
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <label>Current password:</label>
                                <input required type="password" class="form-control" ng-model="query.oldPassword" id="oldPassword" placeholder="Enter current password.." />
                            </div>
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <label>New Password:</label>
                                <input required type="password" class="form-control" ng-model="query.newPassword" id="newPassword" placeholder="Enter new password.." />
                            </div>
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <button ng-click="changePassword(query)" type="" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <div class="alert alert-success" ng-if="changeSuccess" role="alert">Password changed successfully!</div>
                                <div class="alert alert-danger" role="alert" ng-if="changeError" role="alert">{{changeError}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /panel -->
        </div> <!-- /col -->
    </div> <!-- /row -->

</div>