<div class="container main">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <label ng-click="test()">Old password:</label>
                                <input required type="text" class="form-control" ng-model="query.name" id="user" placeholder="Enter old password.." />
                            </div>
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <label>New Password:</label>
                                <input required type="password" class="form-control" ng-model="query.password" id="password" placeholder="Enter new password.." />
                            </div>
                            <div class="col-md-8 col-md-offset-2 form-group">
                                <button ng-click="" type="" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /panel -->
        </div> <!-- /col -->
    </div> <!-- /row -->

</div>