<div class='container main details-view' ng-controller="TestDetailsController">
    <div class='row' test-details-viewer>
        
        <div class='col-md-12' ng-if="tests.length === 0">
            <h1>Tests</h1>
            <p>No tests.</p>
        </div>
        
        <div class='row'>
            <div class='four wide column'>
                <div class='test-names'>
                    
                    <h1 style='padding: 5px 0 10px 20px;'>
                        Tests
                    </h1>
                    
                    <div id='test-collection' class='list divided'>
                        <div ng-repeat='test in tests'>
                            <ng-include src="'partials/test.html'"></ng-include>
                        </div>
                    </div>
                    <!-- /test-collection -->
                    
                </div>
            </div>
            
            <div>
                <div class='current-details'>
                    <h2 class='test-name'>
                        
                    </h2>
                    
                    <div class='cloned-content'>
                        
                    </div>
                </div>
            </div>
            
            <div ng-controller="HistoryController">
                <div class='historical-details hidden'>
                    <ng-include src="'partials/history.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
