<div class='child panel panel-default {{ child.status }}'>
    <div class='content panel-body'>
        <div class='child-status'>
            <span class='{{ child.status }}'>                
                <i class='{{ getIcon(child.status) }}'></i>
            </span>
        </div>

        <div class='child-name'>
            {{ child.name }}
        </div>
        
        <div class='child-content'>                                            
            <div class='label green'>
                 {{ child.startTime | date: 'MM-dd-yyyy HH:mm:ss' }}
            </div>
            <div class='label red'>
                {{ child.endTime | date: 'MM-dd-yyyy HH:mm:ss' }}
            </div>
            <div class='label label-default'>
                {{ getTimeDifference(child.endTime, child.startTime) }} ms
            </div>
            
            <div class='child-description' ng-bind-html='trust(child.description)'>
            </div>
            
            <div class='category-collection' ng-if="child.categories.length">
                <span class='ui label' ng-repeat='category in child.categories'>
                    <i class='fa fa-tag icon'></i> {{ category.name }}
                </span>
            </div>
            
            <div class='author-collection' ng-if="child.authors.length">
                <span class='ui label' ng-repeat='author in child.authors'>
                    <i class='fa fa-user icon'></i> {{ author.name }}
                </span>
            </div>
            
            <table class='table logs' ng-if="child.logs.length">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='log in child.logs' alt='{{ log.status }}' title='{{ log.status }}'>
                        <td>{{ log.timestamp | date: 'HH:mm:ss' }}</td>
                        <td class='{{ log.status }}'>
                            <i class='{{ getIcon(log.status) }}'></i>
                        </td>
                        <td ng-bind-html='trust(log.details)'></td>
                    </tr>
                </tbody>
            </table>

            <div class='media-collection' ng-if="child.media.length">
                <span ng-repeat='media in child.media'>
                    <img width='25%' class='report-img' src='{{ media.path }}' />
                </span>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>