<span ng-controller="ReportController"  ng-init="setViewName('Projects Overview');">

<div class="container main"> <!-- ng-controller="ProjectController" ng-init="getProjectsWithDeps()" -->
    <div class="row">
        <div class="col-md-12"> <!-- ng-repeat="project in projectsAndDeps track by $index" -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    MyTestProject
                </div>
                <div class="panel-body">
                    Reports: 52

                    <h4>Project Status</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>

                    <h4>Total Time</h4>
                    <span class="label label-default">441213ms</span>
                </div>
            </div>
        </div> <!-- /col -->

        <div class="col-md-12"> <!-- ng-repeat="project in projectsAndDeps track by $index" -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    MyNewProject
                </div>
                <div class="panel-body">
                    Reports: 59

                    <h4>Project Status</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>

                    <h4>Total Time</h4>
                    <span class="label label-default">4123213ms</span>
                </div>
            </div>
        </div> <!-- /col -->

        <div class="col-md-12"> <!-- ng-repeat="project in projectsAndDeps track by $index" -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    AnOldProject
                </div>
                <div class="panel-body">
                    Reports: 412

                    <h4>Project Status</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>

                    <h4>Total Time</h4>
                    <span class="label label-default">44234513ms</span>
                </div>
            </div>
        </div> <!-- /col -->
    </div> <!-- /row --> 
</div> <!-- /container -->
