<span ng-controller="ReportController" ng-init="setViewName('Report Summary')"></span>

<div class="container main report-summary-view" ng-controller="ReportController">
    
    <div class="row">
        <div class='col-md-12' style="margin-bottom:20px;">
            <a class="btn btn-default" href="#/report?id={{report.id}}">View complete report</a>
        </div>
    </div>
    
    <div class="row">

        <!-- performance panel -->
        <div class="col-md-12">
            <div class="panel panel-default report-performance-trends-chart">
                <div class='panel-heading'>
                    Tests Performance (millis) <span class="label label-default">{{report.duration}}ms</span>
                </div>
                <div class='panel-body'>
                    <canvas id='report-performance-trends' class='chart chart-line' chart-dataset-override="datasetOverride" chart-data="reportPerfData" chart-labels="reportPerfLabels" chart-legend="true" chart-series="series" chart-options="reportPerfOptions" chart-colours="colors"></canvas>
                </div>
            </div>
        </div>

        <!-- failed tests -->
        <div class="col-md-7" ng-if="hasIssues">
            <div>
                <div class="panel panel-default">
                    <div class='panel-heading'>
                        Failed Tests
                    </div>
                    
                    <div class='panel-body'>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="test in report.tests" ng-if="test.status!=='pass'">
                                    <td><i class="material-icons level-{{test.level}}" ng-if="test.level>0">subdirectory_arrow_right</i><a href="#/test?id={{test.id}}">{{test.name}}</a></td>
                                    <td><span class="label label-default">{{test.startTime|date: 'MMM-dd-yyyy HH:mm:ss'}}</span></td>
                                    <td><i class="material-icons status {{test.status}}" alt="{{test.status}}" title="{{test.status}}">{{ getIcon(test.status) }}</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- /col -->

        <!-- distribution -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class='panel-heading'>
                    {{ element }} Distribution
                </div>
                
                <div id="report-test-distribution-container" class='panel-body'>
                    <div class="chart-box">
                        <canvas id='report-test-distribution' width="{{testDistWidth}}" class='chart chart-doughnut' chart-data="testDistData" chart-labels="labels" chart-legend="true" chart-options="options" chart-colors="colors"></canvas>
                    </div>
                </div>
            </div>
        </div> <!-- /col -->

        <!-- failed tests -->
        <div class="col-md-5" ng-if="report.environment.length>0">
            <div>
                <div class="panel panel-default">
                    <div class='panel-heading'>
                        Environment
                    </div>
                    
                    <div class='panel-body'>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="env in report.environment">
                                    <td>{{env.name}}</td>
                                    <td>{{env.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- /col -->

    </div> <!-- /row -->
    
</div>