<div class="container main report-view" ng-controller="ReportController" >

    <report-details-view></report-details-view>

    <div class="row" ng-controller="TestController">
        
        <!-- parent tests -->
        <div class="panel panel-default fixed inverted top bottom test-name-panel no-padding after-sidenav">
            <div class="panel-heading fullsize b-b">
                <h3>{{report.name}}</h3>
                <span class="label green">{{report.startTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                <span class="label red">{{report.endTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
            </div>
            <div class='panel-body'>
                <ul class="test-name-list">
                    <li class="test-name" ng-repeat="test in report.tests" ng-if="test.level===0" ng-click="loadTestById(test.id);setContrainerWidths();">
                        <div class="name">{{test.name}}</div>
                        <span class="time">{{test.startTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                        <span class="pull-right test-status {{test.status}}" alt="{{test.status}}" title="{{test.status}}"><i class="material-icons">{{getIcon(test.status)}}</i></span>
                    </li>
                </ul>
            </div>
        </div>

         <!-- parent tests -->
        <div class="fixed test-panel no-bg top bottom" ng-if="test">
            <div class="panel panel-default no-bg">
                <div class='panel-heading fullsize b-b'>
                    <h3>{{test.name}}</h3>
                    <span class="pull-right {{test.status}} test-status">
                        <i class="material-icons">{{getIcon(test.status)}}</i>
                    </span>
                    <span class="label green">{{test.startTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label red">{{test.endTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label label-default">{{test.duration}} ms</span>
                </div>
                
                <div class='panel-body'>
                    <ng-include src="'partials/test-template.html'"></ng-include>
                    <ng-include src="'partials/test-history-template.html'"></ng-include>
                </div>
            </div>
        </div> <!-- /col -->

         <!-- parent tests -->
        <div class="fixed history-panel top bottom" ng-if="historicalTest">
            <div class="panel panel-default">
                <div class='panel-heading fullsize b-b'>
                    <h3>{{historicalTest.name}}</h3>
                    <span class="pull-right {{historicalTest.status}} test-status">
                        <i class="material-icons">{{getIcon(historicalTest.status)}}</i>
                    </span>
                    <span class="label green">{{historicalTest.startTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label red">{{historicalTest.endTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label label-default">{{historicalTest.duration}} ms</span>
                </div>
                
                <div class='panel-body'>
                    {{test=historicalTest;""}}
                    <ng-include src="'partials/test-template-history.html'"></ng-include>
                </div>
            </div>
        </div> <!-- /col -->

    </div> <!-- /row -->

</div>