<table class="table">
    <thead>
        <tr>
            <th ng-controller="UserController" ng-if="isAdmin">
                &nbsp;<input type="checkbox">
            </th>
            <th>#</th>
            <th>Project</th>
            <th>Build #</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Feature</th>
            <th>Scenario</th>
            <th ng-if="createGrandChildChart">Step</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='report in reportList track by $index' ng-if="$index < length">
            <td ng-controller="UserController" ng-if="isAdmin">
                <input type="checkbox" id="{{report.id}}" ng-click="countChecked()">
            </td>
            <td>{{$index+1}}</td>
            <td>{{report.project.name}}</td>
            <td><a href='#/report-summary?id={{report.id}}'>{{ report.name }}</a></td>
            <td><span class="label label-default">{{ report.startTime | date: 'MMM-dd-yyyy HH:mm:ss' }}</span></td>
            <td><span class="label label-default">{{ report.endTime | date: 'MMM-dd-yyyy HH:mm:ss' }}</span></td>
            <td><span class="label label-default">{{report.duration}} ms</span></td>
            <td class="progress-bar-col">
                <div class='progress'>
                    <div class='progress-bar progress-bar-success' style='width: {{ (report.passParentLength / (report.parentLength)) * 100 }}%' ng-if='report.passParentLength > 0'>
                        <span class='sr-only'>{{report.passParentLength}}</span>
                    </div>
                    <div class='progress-bar progress-bar-warning progress-bar-striped' style='width: {{ ((report.errorParentLength + report.warningParentLength + report.skipParentLength + report.unknownParentLength) / (report.parentLength)) * 100 }}%' ng-if='(report.errorParentLength + report.warningParentLength + report.skipParentLength + report.unknownParentLength) > 0'>
                        <span class='sr-only'>{{report.errorParentLength + report.warningParentLength + report.skipParentLength}}</span>
                    </div>
                    <div class='progress-bar progress-bar-danger' style='width: {{ ((report.failParentLength + report.fatalParentLength) / (report.parentLength)) * 100 }}%' ng-if='(report.failParentLength + report.fatalParentLength) > 0'>
                        <span class='sr-only'>{{report.failParentLength + report.fatalParentLength}}</span>
                    </div>
                </div>
            </td>
            <td class="progress-bar-col">
                <div class='progress'>
                    <div class='progress-bar progress-bar-success' style='width: {{ (report.passChildLength / (report.childLength)) * 100 }}%' ng-if='report.passChildLength > 0'>
                        <span class='sr-only'>{{ report.passChildLength }}</span>
                    </div>
                    <div class='progress-bar progress-bar-warning progress-bar-striped' style='width: {{ ((report.errorChildLength + report.warningChildLength + report.skipChildLength + report.unknownChildLength + report.infoChildLength) / (report.childLength)) * 100 }}%' ng-if='(report.errorChildLength + report.warningChildLength + report.skipChildLength + report.unknownChildLength + report.infoChildLength) > 0'>
                        <span class='sr-only'>{{ report.errorChildLength + report.warningChildLength + report.skipChildLength + report.infoChildLength }}</span>
                    </div>
                    <div class='progress-bar progress-bar-danger' style='width: {{ ((report.failChildLength + report.fatalChildLength) / (report.childLength)) * 100 }}%' ng-if='(report.failChildLength + report.fatalChildLength) > 0'>
                        <span class='sr-only'>{{ report.failChildLength + report.fatalChildLength }}</span>
                    </div>
                </div>
            </td>
            <td class="progress-bar-col" ng-if="createGrandChildChart">
                <div class='progress'>
                    <div class='progress-bar progress-bar-success' style='width: {{ (report.passGrandChildLength / (report.grandChildLength)) * 100 }}%' ng-if='report.passGrandChildLength > 0'>
                        <span class='sr-only'>{{ report.passGrandChildLength }}</span>
                    </div>
                    <div class='progress-bar progress-bar-warning progress-bar-striped' style='width: {{ ((report.errorGrandChildLength + report.warningGrandChildLength + report.skipGrandChildLength + report.infoGrandChildLength) / (report.grandChildLength)) * 100 }}%' ng-if='(report.errorGrandChildLength + report.warningGrandChildLength + report.skipGrandChildLength + report.infoGrandChildLength) > 0'>
                        <span class='sr-only'>{{ report.errorGrandChildLength + report.warningGrandChildLength + report.skipGrandChildLength + report.infoGrandChildLength }}</span>
                    </div>
                    <div class='progress-bar progress-bar-danger' style='width: {{ ((report.failGrandChildLength + report.fatalGrandChildLength) / (report.grandChildLength)) * 100 }}%' ng-if='(report.failGrandChildLength + report.fatalGrandChildLength) > 0'>
                        <span class='sr-only'>{{ report.failGrandChildLength + report.fatalGrandChildLength }}</span>
                    </div>
                </div>
            </td>
            <td><a href='#/report?id={{report.id}}'><i class="material-icons">open_in_new</i></a></td>
        </tr>
    </tbody>
</table>