<div class='container main reports-view {{ padded }}' ng-controller="ReportController">
    <div class="row">
        <div class='col-md-12'>
            <h1>Reports</h1>
        </div>

        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    Total Tests
                </div>
                <div class='segment-lead text-right'>
                    <strong>{{ res.total.testsCount }}</strong>
                </div>
            </div>
        </div>
        
        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    Tests Passed
                </div>
                <div class='segment-lead text-right'>
                    <strong>{{ res.total.testsPassed }}</strong>
                </div>
            </div>
        </div>
        
        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    Tests Failed
                </div>
                <div class='segment-lead text-right'>
                    <strong>{{ res.total.testsFailed }}</strong>
                </div>
            </div>
        </div>
        
        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    Total Steps
                </div>
                <div class='segment-lead text-right'>
                    <strong>{{ res.total.stepsCount }}</strong>
                </div>
            </div>
        </div>
        
        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    Steps Passed
                </div>
                <div class='segment-lead text-right'>
                    <strong>{{ res.reports.length}}</strong>
                </div>
            </div>
        </div>
        
        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    Steps Failed
                </div>
                <div class='segment-lead text-right'>
                    <strong>{{ res.total.stepsFailed }}</strong>
                </div>
            </div>
        </div>
        
        <div class='col-md-12'>
            <div class='panel panel-default padded'>
                <div class='panel-heading float-left'>
                    Reports
                </div>
                
                <label class='label label-default float-right'>
                    {{ res.reports.length }} Reports
                </label>

                <div class='panel-body'>
                    <table class='table'>
                        <thead>
                            <th>#</th>
                            <th>File</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Parent</th>
                            <th>Parent Distribution</th>
                            <th>Child</th>
                            <th>Child Distribution</th>
                            <th ng-if='hasBDD'>GrandChild</th>
                            <th ng-if='hasBDD'>GrandChild Distribution</th>
                            <th></th>
                            <th ng-controller="AdminController" ng-if="isAdmin"></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in res.reports track by $index">
                                <td>{{ $index + 1 }}</td>
                                <td><a href='#/reportDetails?id={{ report.id }}'>{{ report.fileName }}</a></td>
                                <td><span class='ui label'><i class='fa fa-calendar icon'></i>{{ report.startTime | date:'MM-dd-yyyy HH:mm:ss' }}</span></td>
                                <td><span class='ui label'><i class='fa fa-calendar icon'></i>{{ report.endTime | date:'MM-dd-yyyy HH:mm:ss' }}</span></td>
                                <td>{{ report.parentLength }}</td>
                                <td class='progress-col'>
                                    <div class='progress'>
                                        <div class='progress-bar progress-bar-success' style='width: {{ (report.passParentLength / (report.parentLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.passParentLength }}</span>
                                        </div>
                                        <div class='progress-bar progress-bar-info progress-bar-striped' style='width: {{ ((report.errorParentLength + report.warningParentLength + report.skipParentLength + report.unknownParentLength) / (report.parentLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.errorParentLength + report.warningParentLength + report.skipParentLength + report.unknownParentLength }}</span>
                                        </div>
                                        <div class='progress-bar progress-bar-danger' style='width: {{ ((report.failParentLength + report.fatalParentLength) / (report.parentLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.failParentLength + report.fatalParentLength }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ report.childLength }}</td>
                                <td class='progress-col'>
                                    <div class='progress'>
                                        <div class='progress-bar progress-bar-success' style='width: {{ (report.passChildLength / (report.childLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.childLength }}</span>
                                        </div>
                                        <div class='progress-bar progress-bar-info progress-bar-striped' style='width: {{ ((report.errorChildLength + report.warningChildLength + report.skipChildLength + report.unknownChildLength + report.infoChildLength) / (report.childLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.errorChildLength + report.warningChildLength + report.skipChildLength + report.unknownChildLength + report.infoChildLength }}</span>
                                        </div>
                                        <div class='progress-bar progress-bar-danger' style='width: {{ ((report.failChildLength + report.fatalChildLength) / (report.childLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.failChildLength + report.fatalChildLength }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td ng-if='hasBDD'>{{ report.grandChildLength }}</td>
                                <td class='progress-col' ng-if='hasBDD && report.grandChildLength > 0'>
                                    <div class='progress'>
                                        <div class='progress-bar progress-bar-success' style='width: {{ (report.passGrandChildLength / (report.grandChildLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.passGrandChildLength }}</span>
                                        </div>
                                        <div class='progress-bar progress-bar-info progress-bar-striped' style='width: {{ ((report.errorGrandChildLength + report.warningGrandChildLength + report.skipGrandChildLength + report.unknownGrandChildLength + report.infoGrandChildLength) / (report.grandChildLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.errorGrandChildLength + report.warningGrandChildLength + report.skipGrandChildLength + report.unknownGrandChildLength + report.infoGrandChildLength }}</span>
                                        </div>
                                        <div class='progress-bar progress-bar-danger' style='width: {{ ((report.failGrandChildLength + report.fatalGrandChildLength) / (report.grandChildLength)) * 100 }}%'>
                                            <span class='sr-only'>{{ report.failGrandChildLength + report.fatalGrandChildLength }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td ng-if='hasBDD && report.grandChildLength === 0' style='text-align:center;'>N/A</td>
                                <td><a href='#/reportDetails?id={{ report.id }}'><i class='fa fa-external-link'></i></a></td>
                                <td ng-controller="AdminController" ng-if="isAdmin">
                                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                                        <button id="single-button" type="button" class="btn btn-default btn-xs" uib-dropdown-toggle ng-disabled="disabled">
                                            <i class="fa fa-user"></i> &nbsp; <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                            <!-- <li role="menuitem"><a href="" ng-click="archiveReport(res.reports[$index].id)">Archive</a></li> -->
                                            <li role="menuitem"><a href="" ng-click="destroyReport(res.reports[$index].id)">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div.
            </div>
        </div>
        
    </div>
</div>
