<span ng-controller="ReportController" ng-init="setViewName('Search')"></span>

<div class="container main search-view" ng-controller="SearchController">    
    <div class="row">
        
        <div class="col-md-4">
            <div class="panel panel-default padded">
                <div class="panel-body">
                    <form class="form" novalidate ng-model="query">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    
                                    <div class="input-group">
                                        <input type="text" placeholder="{{dateFormat}}" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="query.startDate" is-open="startDatePicker.opened" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn-calendar btn btn-default" ng-click="openStartDate()"><i class="material-icons">date_range</i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="input-group">
                                        <input type="text" placeholder="{{dateFormat}}" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="query.endDate" is-open="endDatePicker.opened" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn-calendar btn btn-default" ng-click="openEndDate()"><i class="material-icons">date_range</i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Regex</label>
                                    <select class="form-control" id="regex" ng-model="query.regex">
                                        <option value="contains">contains</option>
                                        <option value="exact">exact</option>
                                        <option value="startsWith">startsWith</option>
                                        <option value="endsWith">endsWith</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Test Name</label>
                                    <input class="form-control" placeholder="Test Name" type="text" id="name" ng-model="query.name">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select multiple="" class="form-control" name="status" ng-model="query.status">
                                        <option value="">Select Status</option>
                                        <option value="pass">Pass</option>
                                        <option value="fail">Fail</option>
                                        <option value="fatal">Fatal</option>
                                        <option value="error">Error</option>
                                        <option value="warning">Warning</option>
                                        <option value="skip">Skip</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="ui field" ng-controller="ReportController">
                            <label>Category</label>
                            <select multiple="" class="dropdown" name="category" ng-model="query.category">
                                <option value="">Select Category</option>
                                <option ng-repeat="category in res.categories" value="{{ category }}">{{ category }}</option>
                            </select>
                        </div>
                        -->
                        <a onclick="#!" class="btn btn-default">
                            Clear
                        </a>
                        <button ng-click="searchTests(query,1)" type="" class="btn btn-primary">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8" ng-if="tests.length" ng-controller="TestController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Search results</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Id</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="test in tests track by $index">
                                <td>{{$index+1}}</td>
                                <td><a href="#/test?id={{test.id}}">{{test.name}}</a></td>
                                <td><span class="label label-default">{{test.startTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span></td>
                                <td><span class="label label-default">{{test.endTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span></td>
                                <td>{{test.id}}</td>
                                <td class="{{test.status}}"><i class="material-icons">{{getIcon(test.status)}}</i></td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" ng-click="page=page-1;searchTests(query,page)">
                        Previous
                    </button>
                    <button class="btn btn-primary" ng-click="page=page+1;searchTests(query,page)">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>