<div class="container main" ng-controller="TestController">
    <div class="row">
        <div class='col-md-12'>
            <h1>{{test.name}}</h1>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class='panel-heading'>
                    {{test.name}}
                    <span class="pull-right">
                        <i class="material-icons status {{test.status}}" alt="{{test.status}}" title="{{test.status}}">{{test.status}}</i>
                    </span>
                </div>
                
                <div class='panel-body'>
                    <ng-include src="'partials/test-template.html'"></ng-include>
                    <ng-include src="'partials/test-history-template.html'"></ng-include>
                </div>
            </div>
        </div> <!-- /col -->

        <div class="col-md-6" ng-if="historicalTest">
            <div class="panel panel-default">
                <div class='panel-heading'>
                    {{historicalTest.name}}
                     <span class="pull-right">
                        <i class="material-icons status {{historicalTest.status}}" alt="{{historicalTest.status}}" title="{{historicalTest.status}}">{{historicalTest.status}}</i>
                    </span>
                </div>
                
                <div class='panel-body'>
                    <ng-include src="'partials/test-template-history.html'"></ng-include>
                </div>
            </div>
        </div> <!-- /col -->

    </div> <!-- /row -->


</div> <!-- /container -->