<div class="container main" ng-controller="TestController">
    <div class="row">
        <div class='col-md-12'>
            <h1>{{test.name}}</h1>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class='panel-heading'>
                    <span class="label green">{{test.startTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label red">{{test.endTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label label-default">{{test.duration}} ms</span>
                    <span class="pull-right {{test.status}} test-status">
                        <i class="material-icons">{{getIcon(test.status)}}</i>
                    </span>
                </div>
                
                <div class='panel-body'>
                    <ng-include src="'partials/test-template.html'"></ng-include>
                    <ng-include src="'partials/test-history-template.html'"></ng-include>
                </div>
            </div>
        </div> <!-- /col -->

        <div class="col-md-6" ng-if="historicalTest">
            <div class="panel panel-default">
                <div class='panel-heading'>
                    <span class="label green">{{historicalTest.startTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label red">{{historicalTest.endTime | date: 'MMM dd, yyyy HH:mm:ss'}}</span>
                    <span class="label label-default">{{historicalTest.duration}} ms</span>
                    <span class="pull-right {{historicalTest.status}} test-status">
                        <i class="material-icons">{{getIcon(historicalTest.status)}}</i>
                    </span>
                </div>
                
                <div class='panel-body'>
                    <ng-include src="'partials/test-template-history.html'"></ng-include>
                </div>
            </div>
        </div> <!-- /col -->

    </div> <!-- /row -->


</div> <!-- /container -->